@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
      --livvic-thin {
        font-family: "Livvic", sans-serif;
        font-weight: 100;
        font-style: normal;
      }

      --livvic-extralight {
        font-family: "Livvic", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

      --livvic-light {
        font-family: "Livvic", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

      --livvic-regular {
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      --livvic-medium {
        font-family: "Livvic", sans-serif;
        font-weight: 500;
        font-style: normal;
      }

      --livvic-semibold {
        font-family: "Livvic", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

      --livvic-bold {
        font-family: "Livvic", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      --livvic-black {
        font-family: "Livvic", sans-serif;
        font-weight: 900;
        font-style: normal;
      }

      --livvic-thin-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 100;
        font-style: italic;
      }

      --livvic-extralight-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 200;
        font-style: italic;
      }

      --livvic-light-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 300;
        font-style: italic;
      }

      --livvic-regular-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: italic;
      }

      --livvic-medium-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 500;
        font-style: italic;
      }

      --livvic-semibold-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 600;
        font-style: italic;
      }

      --livvic-bold-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 700;
        font-style: italic;
      }

      --livvic-black-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
    }

* {
    font-family: 'Livvic', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

/* -------- START DO NOT ADJUST ---------------------------- */

header {
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 2px blue dotted; */
}

#logo {
  padding: 1em;
  /* border: 2px blue dashed; */
}

nav {
  display: flex;
  width: 200em;
  justify-content: center;
  margin-right: 8em;
  margin-left: -2.5em;
  /* border: 2px blue dotted; */
}

nav a {
  width: 5em;
  margin: 2px;
  /* border: 1px rgb(179, 179, 179) solid; */
  font-family: 'Livvic', sans-serif;
  font-size: 200%;
  text-decoration: none;
  background-color: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  transition: color .25s;
  transition-timing-function: ease-in;
  transition: background-color 1s;
  transition-timing-function: ease-out;
}

nav a:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .25em;
  /* border: 2px blue dotted; */
}

/* --------- END DO NOT ADJUST ----------------------------- */



figure {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Livvic', sans-serif;
  /* border: 2px orange dotted; */
}

figcaption {
  display: block;
  font-size: 2em;
  margin-bottom: 1em;
  background-color: #ffffff;
  text-align: center;
  /* border: 2px blue dashed; */
}


.performance {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1em;
  width: 80%;
  height: auto;
  width: auto;
  margin-bottom: 2em;
  border: 1px black solid;
  animation-delay: 1s;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition: color .5s;
  transition-timing-function: ease-in;
  transition: background-color .5s;
  transition-timing-function: ease-out;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}



.performance:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: #ffffff;

}



/* ------ START PERFORMANCE STRUCTURE DIVS ----------------------------*/

.perHeading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: .5em;
}

.perfBody {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* border: 2px dashed red; */
}

.row {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: .25em;
  /* border: 2px dashed blue; */
}

/* ------ START PERFORMANCE DATA DIVS ----------------------------*/

/* they all share perfData class */
.perfData {
  text-align: center;
  font-size: larger;
  margin: .1em .2em;
  font-weight: 500;
}

/* heading data */
.perfTitle {
  font-size: xx-large;
  font-weight: 600;
}

.perfAt {
  font-size: xx-large;
  font-weight: 600;
}

.perfLocation {
  font-size: xx-large;
  font-weight: 600;
}

/* body data */
/* column one */
.perfDay {}
.perfTime {}
.perfMeridiem {}
.perfTimeZone {}

/* column two */
.perfMonth {}
.perfDayNum {}
.perfYear {}

/* column three */
.perfAddyNumber {}
.perfAddyStreet {}
.perfAddyCity {}
.perfAddyState {}
.perfAddyZip {}

/* column four */
.perfPhone {}
.perfWeb{}

/* column five */
.perfLink {}
.perfICS {}
